* body, html {
    background: #f8f8f8;
}

a {
    text-decoration: none;
}

.logo {
    width: 15px;
    height: 15px;
}

.menu_list {
    list-style-type: none;

}

.menu_link {
    font-size: 20px;
    color: darkblue;
}

.header {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.p1 {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.p2 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.specifications > li {
    list-style-type: none;
    font-style: italic;
    font-size: 18px;
    color: darkgreen;
}
